.heroBody {
  composes: hero-body from global;
  padding-bottom: 0rem !important;
}
.listSkillLabel {
  composes: title is-size-5 from global;
  margin-bottom: 1rem !important;
}
.skillPills {
  composes: tags from global;
  margin: -0.25rem;
}
