.container {
  position: relative;
  composes: box from global;
}
.tagSection {
  margin-top: 1rem;
}
.head {
  margin-bottom: 1.5rem;
}
.titleContainer {
  margin-left: 1rem;
  flex-shrink: 1 !important;
  align-items: center;
  flex-wrap: wrap;

  & > * {
    flex-shrink: 1 !important;
    margin-bottom: 0.5rem !important;
  }
}

.company {
  margin-left: 1rem !important;
}
